.form-flex {
    display: flex;
}
table#t01 {
    border: 1px solid gold;
    padding: 5px;
    margin-top: 10px;
}
table#t01 td {
    border: 1px solid gold;
}
.td-style {
    display: flex;
}
.ele-date {
    margin-left: 12px;
    margin-right: 13px;
}
